*{
    padding : 0;
    margin: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    /*border:red solid 1px;*/
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    color:#635D54;
    position:fixed;
    top:0;
    background-color:white;
    z-index:3;
    width:100%;
    transition:0.3s;
  }
  .logo{
    text-transform:uppercase;
    margin:10px 7px;
    letter-spacing: 4px;
    float: left;
    display:flex;
    align-items: center;
    justify-content:flex-start;
  }
  .logo a{
    text-decoration: none;
    display:flex;
    color:#635D54;
  }
  .logo img{
    width:110px;
    height: 40px;
    padding:0;
    margin-left:20px;
  }
  .nav-links ul{
    transform:translateX(21%);
    margin:0;
    padding:0;
    display:inline-flex;
    font-size:18px;
  }
  .nav-links ul li{
    list-style:none;
  }
  .nav-links ul li a {
    text-decoration: none;
    padding: 15px 60px;
    display: block;
    color:#293241;
    letter-spacing: 1px;
    text-transform:uppercase;
    font-size:20px;
    font-family: 'Bowlby One';
  }
  .nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(238, 108, 77);
    display:block;
    margin: auto;
    transition:0.5s;
  }
  .nav-links ul li:hover::after{
    width:75%;
  }
.header-strip{
    width:100%;
    height:100px;
    background-color:#7eb9db;
    transform:translateY(-70%);
}
header.header-container{
    width:100%;
    transform:translateY(60px);
    overflow:visible;
    justify-content:left;
}
header .header-content{
    text-align: center;
    position: relative;
    width: 90%;
    height:360px;
    margin: 0 auto;
    z-index: 2;
    overflow:visible;
    display:flex;
    justify-content:flex-start;

}
.header-content .header-robot{
    position:static;
    width:45%;
    height:90%;
    opacity:1;
    transform: translateX(-5%);
    background-color:transparent;
    justify-content:flex-start;
}
#header-text{
    position: static;
    height: 70%;
    width:60%;
    display:inline-block;
    margin: auto 0;
    text-align:left;
    transform:translateY(-30%);
    white-space:nowrap;
}
#header-text h1{
    font-size: 90px;
    color: #293241;
    font-weight:800;
    font-family:'Luckiest Guy';
    letter-spacing:7px;
    padding-top:30px;
    padding-left:30px;
    width:80%;
}
#header-text h3{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #293241;
    width:80%;
    padding:10px 0 30px 30px;
}
header img{
    width:100%;
    height: 580px;
    top: 30px;
    position: absolute;
    z-index:1;
    background-color:#d9d9d9;
}
#welcome-png{
    width:40%;
    height:35%;
    top:0;
    display:inline-block;
    position: static;
    background-color:transparent;
    transform: rotate(-13deg) translateX(45%) translateY(-260%);
}
#robot-png{
    width:40%;
    height:110%;
    display:inline-block;
    top:0;
    position:static;
    background-color:transparent;
    transform:translateX(-10px) translateY(-20%);
}
.header-main-strip{
    width:100%;
    height:210px;
    background-color: black;
    position:relative;
    z-index:-1;
    transform:translateY();
}
main{
    background-color:#d9d9d9;
}
main .main {
  height: 1500px;
  width: 100%;
  margin: 0 auto;
  background-color: #d9d9d9; 
  position: static;
}
main section{
    width:95%;
    margin:auto;
    height:25%;
    position:static;
    padding:2.7% 5%;
}
.home-main-col1{
    width:50%;
    height:120%;
    background-color:rgba(238, 108, 77,0.9);
    border-radius:40px;
    display:inline-block;
    margin:0;
    border: #293241 solid 15px;
    transform:translateY(-10%);
}
.home-main-col2{
    width:45%;
    height:100%;
    display:inline-block;
    text-align: left;
    transform:translateY(-35%) translateX(13%);
}
h2{
    font-size:85px;
    text-align:left;
    display:inline-block;
    font-family:'Luckiest Guy';
    letter-spacing:5px;
    color:#293241;
    font-weight:normal;
}
p{
    font-family:'Roboto', monospace;
    font-size:20px;
    line-height:1.5;
    margin-top: 5px;
    font-weight:600;
}
#code h2{
    letter-spacing:4px;
}
#code{
    padding:0 5%;
}
#code .home-main-col2{
    position:relative;
    top:0;
    width:50%;
    height:100%;
    background-color:rgba(238, 108, 77,0.9);
    border-radius:40px;
    display:inline-block;
    transform:translateX(110%) translateY(-122.8%);
    border: #293241 solid 15px;
}
#code .home-main-col1{
    background-color:transparent;
    border-radius:0px;
    text-align:right;
    border:transparent;
    transform:translateY(10%);
    font-size:83px;
}
#solve .home-main-col1{
    transform: translateX(-1%) translateY(-12.5%);
}
#solve .home-main-col2{
    transform:translateY(-48%) translateX(13%);
}
.home-main-col1 img{
    position:relative;
    margin:auto;
    width:80%;
    height:95%;
    transform:translateX(10%) translateY(3%);
}
.pipe-strip{
    position: relative;
    width:100%;
    height:7%;
    background-color:#d9d9d9;
    top:0%;
}
.pipe-strip img{
    position: relative;
    top:0;
    z-index:0;
    width:30%;
    transform:translateX(125%) translateY(-10%);
    height:100%;
}

footer{
    width:100%;
    height:200px;
    background-color:black;
    position: static;
}
